USE [master]
GO
/****** Object:  Database [Cadidatedb]    Script Date: 14/03/2024 20:11:18 ******/
CREATE DATABASE [Cadidatedb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cadidatedb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cadidatedb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cadidatedb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cadidatedb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cadidatedb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cadidatedb]
GO
/****** Object:  Table [dbo].[candidate]    Script Date: 14/03/2024 20:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidate](
	[sr_no] [int] IDENTITY(1,1) NOT NULL,
	[candidate_name] [varchar](255) NOT NULL,
	[dob] [date] NULL,
	[age] [int] NULL,
	[city_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[sr_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City_Master]    Script Date: 14/03/2024 20:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City_Master](
	[city_id] [int] NOT NULL,
	[city_name] [varchar](100) NULL,
	[created_date] [datetime] NULL,
	[modify_date] [datetime] NULL,
 CONSTRAINT [PK_City_Master] PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[candidate]  WITH CHECK ADD FOREIGN KEY([city_id])
REFERENCES [dbo].[City_Master] ([city_id])
GO
USE [master]
GO
